body {
  padding: 70px;
}
.container {
  color: #272044;
}

footer {
  text-align: center;
}

.title {
  font-family: "Yesteryear", cursive;
  color: #885df1;
}
.fa-google-play {
  padding: 3px;
  font-size: 16px;
}
#googleplay {
  border-radius: 5px;
  border-color: #232425;
  color: #232425;
  cursor: pointer;
  padding: 2px 6px;
}

.fa-apple {
  padding: 3px;
  font-size: 16px;
}

#appstore {
  border-radius: 5px;
  background-color: #232425;
  border-color: #232425;
  color: white;
  cursor: pointer;
  padding: 2px 6px;
}
#appstore:hover {
  background-color: black;
  border-color: black;
}
#googleplay:hover {
  background-color: white;
}

.fa-search-location {
  cursor: pointer;
}

#city {
  padding: 10px 10px 2px;
}

.fa-sun-icon {
  font-size: 40px;
}
.temperature {
  font-size: 60px;
}

.unit {
  position: relative;
  top: -23px;
  text-decoration: none;
}
ul {
  font-size: 17px;
  padding: 16px;
}

#codername {
  color: #885df1;
  font-weight: bold;
}
#github {
  text-decoration: none;
  color: #885df1;
  font-weight: bold;
  text-decoration: underline;
}
#netlify {
  text-decoration: none;
  color: #885df1;
  font-weight: bold;
  text-decoration: underline;
}
#github:hover {
  text-decoration: none;
  color: #885df1;
}
#netlify:hover {
  text-decoration: none;
  color: #885df1;
}

footer {
  padding: 30px 10px 30px 10px;
}
