body {
  padding: 65px;
}

.container {
  color: #272044;
}
#weather-app {
  align-items: center;
}

#first-card-body {
  padding: 30px 20px 20px 20px;
}

.title {
  font-family: "Yesteryear", cursive;
  color: #ec6e4c;
}

.fa-google-play {
  padding: 3px;
  font-size: 16px;
}
#googleplay {
  border-radius: 5px;
  border-color: #ec6e4c;
  color: #232425;
  cursor: pointer;
  padding: 2px 6px;
  background-color: white;
}

.fa-apple {
  padding: 3px;
  font-size: 16px;
}

#appstore {
  border-radius: 5px;
  background-color: #ec6e4c;
  border-color: #ec6e4c;
  color: white;
  cursor: pointer;
  padding: 2px 6px;
}
#appstore:hover {
  background-color: #e27c60;
  border-color: #ec6e4c;
}
#googleplay:hover {
  background-color: #faf5f4;
}

.fa-search-location {
  cursor: pointer;
}

#temperature-description::first-letter {
  text-transform: capitalize;
}

#current-temp-icon {
  position: relative;
  top: -13px;
  width: 60px;
  padding-left: 0px;
  padding-right: 0px;
}
#temperature-today {
  font-size: 50px;
  padding-left: 0px;
  padding-right: 0px;
}

.unit {
  position: relative;
  top: -23px;
}

#celsius-link {
  text-decoration: none;
  color: #272044;
}

#fahrenheit-link {
  text-decoration: none;
}

#temperature-forecast {
  font-size: 17px;
  padding: 16px 16px 16px 16px;
  align-content: center;
}

#codername {
  color: #ec6e4c;
  font-weight: bold;
}
#github {
  text-decoration: none;
  color: #ec6e4c;
  font-weight: bold;
  text-decoration: underline;
}
#netlify {
  text-decoration: none;
  color: #ec6e4c;
  font-weight: bold;
  text-decoration: underline;
}
#github:hover {
  text-decoration: none;
  color: #ec6e4c;
}
#netlify:hover {
  text-decoration: none;
  color: #ec6e4c;
}

.footer {
  padding: 30px 10px 30px 10px;
  text-align: center;
}
